{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Dietlicious Restaurant is dedicated to offering healthy and diet-friendly meals to our valued customers. We firmly believe that nutritious food can also be delicious, and our mission is to provide meals that not only satisfy your taste buds but also support a healthy lifestyle. Our restaurant is the perfect choice for health-conscious individuals seeking tasty, balanced meals that promote overall well-being.</p>
            <p>Located centrally, Dietlicious Restaurant is easily accessible to everyone looking to enjoy a wholesome dining experience. We operate daily from 9:00 AM until 1:00 AM, ensuring that you can enjoy healthy meals throughout the day and late into the night.</p>
            <p>Our restaurant also offers customizable healthy food contracts for individuals and organizations looking to maintain a nutritious diet consistently. Whether you’re looking for daily meal plans or catering services for health-focused events, we’ve got you covered.</p>
            <p> Addres here: Lahij street Al-Mirfa</P>
            <p>Restourant phone : 02-883-1444</p>
            <p>Manager: Khalid Yusuf</p>
            <p>Contact for any complain: +971507111816</p>
            <p>Email: examplae@gmail.com</p>
        </div>
    </div>
</div>
{% endblock content %}



